body {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 60vw;
    height: fit-content;
    border-radius: 10px;
    background-color: #226799;
}

.nav-btn {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: fit-content;
    width: 100%;
}

.fa-solid {
    margin: 5%;
    display: none;
    width: fit-content;
    height: fit-content;
}

.header-nav {
    display: flex;
    border-radius: 0 0 10px 10px ;
}

@media screen and (max-width: 425px){
    .fa-solid {
        display: flex;
        transition: transform 0.1s;
    }

    .nav-btn:hover > .header-nav {
        display: flex;
    }

    .nav-btn:hover > i.fa-solid{
        transform: rotateZ(90deg);
    }

    .header-nav {
        display: none;
        flex-direction: column;
        width: 90%;
        padding: 5%;
        background-color: aliceblue;
    }
}
